[Desktop Entry]
Name=Ostrich Riders
Comment=Knights flying on ostriches compete against other riders
TryExec=ostrichriders
Exec=ostrichriders %f
Terminal=false
Type=Application
Icon=ostrichriders
Categories=Game;ArcadeGame;
